# ============================================================
# Dependencias Python del pipeline
# Instalar con: pip install -r requirements.txt
# ============================================================

paho-mqtt==1.6.1          # Cliente MQTT para Python
psycopg2-binary==2.9.9    # Conector PostgreSQL (versión binaria, sin compilar)
pandas==2.2.2             # Carga y manipulación del CSV
spotipy==2.24.0           # Cliente oficial de la API de Spotify